body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100px 1fr;
    grid-row-gap: 20px;
    align-items: stretch;
}

.Topbox {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #4a9be2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.BackgroundBox {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    background: #afafbc;
}

.BackgroundBox--CurrentBox {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #f9f9fc;
    margin: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px #3e4349;
}

.BackgroundBox--TargetBox {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #f9f9fc;
    margin: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px #3e4349;
}

.BackgroundBox--DeltaBox {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #f9f9fc;
    margin: 10px 10px 20px 10px;
    box-shadow: 5px 5px 5px #3e4349;
}

.Topbox--nav {
    display: inline;
    margin-right: 50px;
}

.Topbox--nav li {
    display: inline-block;
    margin-right: 10px;
}

.Topbox--nav-dropdown-menu:before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #FFFFFF;
    top: -16px;
    left: 24px;
}

.Topbox--nav-dropdown-menu {
    visibility: hidden;
    padding: 0;
    color: #76a6e6;
    width: 100%
    max-width: 200px;
    box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.5);
    border-radius: 100%;
    position: relative;
    margin-top: 36px;
    position: absolute;
}

.Topbox--nav-dropdown-menu:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;  
  border-bottom: 17px solid rgba(0,0,0,.15);
  top: -16px;
  left: 25px;
  z-index: -10;
}

.Topbox--nav-dropdown-menu li:first-child {
    border-radius: 12px 12px 0 0;
}

.Topbox--nav-dropdown-menu li {
  list-style-type: none;
  float: none;
  display: block;
  padding: 12px;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 0 0 0;
  background: #FFFFFF;
}

.Topbox--nav-dropdown-menu li:hover {
    background: #e5e5e5;
    cursor: pointer;
}

.Topbox--nav-dropdown-menu li:last-child {
    border-bottom: 0;
    border-radius: 0 0 12px 12px;
}

h1 {
    font-family: Helvetica, Arial;
    font-size: 30px;
    font-weight: bold;
    color: #3f4b56;
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-family: Helvetica, Arial;
}

a:hover {
    text-decoration: none;
}

h3 {
    color: #51555b;
    font-family: Helvetica, Arial;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 10px 10px 10px;
}

/*Form Styling*/
label {
    display: inline-block;
    font-family: Helvetica, Arial;
    font-size: 15px;
    text-align: left;
    width: 95px;
    margin: 10px 10px 10px 10px;
}

input[type=text] {
    width: 80px;
}

input[type=number]{
    -webkit-appearance: none;
    width: 80px;
}

input[type=submit] {
    font-size: 15px;
    font-weight: bold;
    clear: both;
    float: right;
    margin: 0 5px 5px 0;
}

button {
    margin: 10px 10px 10px 10px;
}

p {
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}
